body{
    height: 100vh;
    background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    padding: 1%;
}
.contentImg{
    text-align: center;
}
.bubble{
    margin: 1%;
    background: rgba(256, 256, 256, 0.6);
    border-radius: 25px;
    text-align: center;
}
 
.listOfBooks{
    margin: 2em;
   /*  color: whitesmoke;
    font-weight: 700; */
}
.card{
    padding: 1%;
}
